.contact-wrapper {
    background: #323232;
}

.contact {
    min-height: 100%;
    width: 100%;
    margin-top: 10rem;
}

.contact-info {
    width: 80%;
    margin: 0 auto;
}

.border-underline {
    border-bottom:1px solid chartreuse;
    border-width:3px;
    width: 21rem;  
    margin-bottom: 25px;
}

.footer {
    display: flex;
    justify-content: center;
    color: chartreuse;
    background-color: #272727;
}

.footer-link {
    color: chartreuse;
    cursor: pointer;

    &:hover {
        border: 1px solid chartreuse
    }
}