.projects-wrapper {
    background: #323232;
}

.projects {
    min-height: 90vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .cards {
        display: flex;
        justify-content: space-between;
        color: white;

        h4 {
            margin: 3rem 1rem;
        }
        h5 {
            padding: 2rem;
            font-size: 1.5rem;
        }
    }
}

.card-section {
    margin:20px auto;
    box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.2);
    width: 80%;

    img {
        width: 100%;
        height: 200px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 36px));
    }
}

.card-body {
    padding: 0 15px 20px 15px;

    h4 {
        margin: 0px;
        font-weight: bold;
        font-family: sans-serif;
        letter-spacing: 0.5px;
        color: chartreuse;
    }

    .border-line{
        border-bottom:1px solid chartreuse;
        border-width:3px;
        width: 75px;  
        margin:10px 0px;
    }
    
    .card-text{
    color:gray;  
    letter-spacing: 0.5px;
    }

    .btn {
        font-size: 1.5rem;
        margin-right: 1rem;
        color: rgb(189, 189, 189);
        cursor: pointer;
        font-weight: 900;

        &:hover {
            color: chartreuse;
        }
    }
}

