.projects-wrapper {
    background: #323232;
}

.projects {
    min-height: 90vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .projects-header {
        text-align: center;
    }
}

.projects-innerWrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: monospace;
    
}


.cardBox {
    perspective: 500px;
    margin:15px;
}

.projects-card {
    position: relative;
    width: 150px;
    height: 150px;
    background: #fff;
    transform-style: preserve-3d;
    transition: .5s ease;
    box-shadow: 0 30px 30px rgba(0,0,0,.5);
  }
  
  .card-color {
    background: #272727;
  }
  
  .card-front, .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    color: chartreuse;
    backface-visibility: hidden;
  }
  
  .card-front {
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
  }
  
  .card-back {
    display: flex;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    transform: rotateY(180deg);
  }
  
  .cardBox:hover .projects-card {
    transform: rotateY(180deg);
  }