.welcome {
    background-color: #272727;
    overflow: hidden;
    height: 100vh;
}

p {
    transition: all 0.5s ease-in-out;
}

.welcome-line-container:hover p {
    transform: translate(0, -50px);
}

.welcome-line {
    height: 50px;
    overflow: hidden;
    position: relative;


    &:nth-child(odd) {
        transform: skew(60deg, -30deg) scaleY(0.667);
        color: chartreuse;
    }

    &:nth-child(even) {
        transform: skew(0deg, -30deg) scaleY(1.333);
    }

    &:nth-child(1) {
        left: 29px;
    }

    &:nth-child(2) {
        left: 58px;
    }

    &:nth-child(3) {
        left: 87px;
    }

    &:nth-child(4) {
        left: 116px;
    }

    &:nth-child(5) {
        left: 145px;
    }
}

.nav-wrapper {
    background-color: #272727;
}

nav {
    width: 80%;
    margin: auto;
    min-height: 10vh;
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        justify-content: space-between;
        flex: 1;
        list-style-type: none;
    }

    #logo {
        flex: 3;
        position: relative;
    }

    .btn {
        cursor: pointer;
        
        &:hover {
            color: chartreuse;
        }
    }

    .contact {
        padding: 1rem;
        border-radius: 2rem;
        box-sizing: border-box;
        background-color: transparent;
        border: 1px chartreuse solid;
        color: chartreuse;

        &:hover {
            color: #272727;
            background-color: chartreuse;
        }
    }
}