html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: lighter;
  font-family: 'Lobster', cursive;
}

h2 {
  font-size: 8rem;
  font-weight: lighter;
  font-family: 'Lobster', cursive;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

p {
  height: 50px;
  line-height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
}

li {
  font-size: 2rem;
}

a {
  color: #fff;
  text-decoration: none;
}

.welcome {
  background-color: #272727;
  overflow: hidden;
  height: 100vh;
}

p {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.welcome-line-container:hover p {
  -webkit-transform: translate(0, -50px);
          transform: translate(0, -50px);
}

.welcome-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.welcome-line:nth-child(odd) {
  -webkit-transform: skew(60deg, -30deg) scaleY(0.667);
          transform: skew(60deg, -30deg) scaleY(0.667);
  color: chartreuse;
}

.welcome-line:nth-child(even) {
  -webkit-transform: skew(0deg, -30deg) scaleY(1.333);
          transform: skew(0deg, -30deg) scaleY(1.333);
}

.welcome-line:nth-child(1) {
  left: 29px;
}

.welcome-line:nth-child(2) {
  left: 58px;
}

.welcome-line:nth-child(3) {
  left: 87px;
}

.welcome-line:nth-child(4) {
  left: 116px;
}

.welcome-line:nth-child(5) {
  left: 145px;
}

.nav-wrapper {
  background-color: #272727;
}

nav {
  width: 80%;
  margin: auto;
  min-height: 10vh;
  padding: 3rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style-type: none;
}

nav #logo {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  position: relative;
}

nav .btn {
  cursor: pointer;
}

nav .btn:hover {
  color: chartreuse;
}

nav .contact {
  padding: 1rem;
  border-radius: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: 1px chartreuse solid;
  color: chartreuse;
}

nav .contact:hover {
  color: #272727;
  background-color: chartreuse;
}

.projects-wrapper {
  background: #323232;
}

.projects {
  min-height: 90vh;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects .projects-header {
  text-align: center;
  margin: 1.5rem 0;
}

.projects .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.projects .cards h4 {
  margin: 3rem 1rem;
}

.projects .cards h5 {
  padding: 2rem;
  font-size: 1.5rem;
}

.card-section {
  margin: 2rem auto;
  -webkit-box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.2);
  width: 80%;
}

.card-section img {
  width: 100%;
  height: 200px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 36px));
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 36px));
}

.card-body {
  padding: 0 15px 20px 15px;
}

.card-body h4 {
  margin: 0px;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  color: chartreuse;
}

.card-body .border-line {
  border-bottom: 1px solid chartreuse;
  border-width: 3px;
  width: 75px;
  margin: 10px 0px;
}

.card-body .card-text {
  color: gray;
  letter-spacing: 0.5px;
}

.card-body .btn {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #bdbdbd;
  cursor: pointer;
  font-weight: 900;
}

.card-body .btn:hover {
  color: chartreuse;
}

.about-wrapper {
  background: #323232;
}

.about-curve {
  background-color: #272727;
}

.about-curve .upper {
  background-color: #323232;
}

.about-curve svg {
  display: block;
}

.about {
  min-height: 90vh;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about-header {
  margin: 0 0 70px 0;
}

.about-text {
  width: 80%;
  margin: 0 auto;
}

.contact-wrapper {
  background: #323232;
}

.contact {
  min-height: 100%;
  width: 100%;
  margin-top: 10rem;
}

.contact-info {
  width: 80%;
  margin: 0 auto;
}

.border-underline {
  border-bottom: 1px solid chartreuse;
  border-width: 3px;
  width: 21rem;
  margin-bottom: 25px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: chartreuse;
  background-color: #272727;
}

.footer-link {
  color: chartreuse;
  cursor: pointer;
}

.footer-link:hover {
  border: 1px solid chartreuse;
}
/*# sourceMappingURL=style.css.map */